Experiments_SPARCS/__pycache__/
Experiments_SPARCS/Datasets/
Experiments_SPARCS/State_Dicts/
Experiments_SPARCS/Graphs/
Experiments_SPARCS/train.log
Experiments_SPARCS/Experiment-CIFAR10/**/
Experiments_SPARCS/Experiment-CIFAR100/**/
data/
results/
sparcs/__pycache__/
__pycache__/
nohup.out